.CharForm {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  min-width: 20%;
  justify-content: center !important;
  align-items: flex-start;
  gap: 16px;
}
.box {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center !important;
  gap: 16px;
  max-width: 400px;
  min-width: 300px;
}
.boxHeader {
    display: flex;
    width: 90%;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: center;
    gap: 16px;
    min-width: 300px;
  }

.inputBox {
  margin: auto 8px; 
  max-width: 30% ;
}
.inputBoxHeader {
    margin: auto 8px; 
    flex-grow: 1;
  }
.inputLabel {
  min-width: 40%;
}
.inputLabelHeader {
    max-width: 20%;
  }

.inputAbilities {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto 8px;
  width: 100%;
}

.btnSubmit {
  max-width: 150px;
  min-width: 112px;
  margin: 24px auto;
  padding: 4px 8px;
}
.btn {
  margin: 36px;
  padding: 4px 8px;
}
