.CharForm {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: auto;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: row wrap;
  min-width: 20%;
  justify-content: space-around !important;
  align-items: flex-start;
  gap: 16px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin: auto;
  width: 100%;
}
.box {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  padding: 1rem;
  min-width: 280px;
}
.conditions {
  max-width: 30% !important;
  flex-flow: row wrap !important;
  gap: 16px;
  padding: 1rem;
}

.boxHeader {
  display: flex;
  
  width: 100%;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin: auto;
}

.inputBox {
  width:80%;
}
.inputBoxHeader {
  width: 100%;
  
}

.inputAbilities {
  display: flex;
  flex-flow: row nowrap;
  gap:4px;
  justify-content: space-between;
  width: 100%;
}
.conditions .inputAbilities {
  justify-content: space-between;
 
}

