* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   width: 100vw;
   overflow-x: hidden;
   padding: 1rem;
   box-sizing: border-box;
}
#root{
    width:80%;
    box-sizing: border-box;
    padding: 1rem;
    margin: auto;
}